<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/workbench-flame-dark.png">

	<link rel="stylesheet" type="text/css" media="screen" href="vendor/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="vendor/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
	<script src="client/app.js" type="module"></script>
</head>
<body>
	<h1>index</h1>
	<i class="fa fa-birthday-cake" aria-hidden="true"></i>
</body>
</html>