<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link href="/assets/vendor/fontawesome-free/5.9.0/css/all.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/vendor/fontawesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="<%=htmlWebpackPlugin.files.chunks.main.css %>" rel="stylesheet" type="text/css" />

	{{!-- jquery is a bootstrap.js, typeahead.js dependency, it is not to be used with other development, only dependencies --}}
	<script src="/assets/vendor/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/vendor/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/vendor/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
	<script src="/assets/vendor/typeahead.js/0.11.1/bloodhound.min.js"></script>

	<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

	<title>{{title}}</title>
</head>

<body>

	{{> navbar.partial }}

	{{{flash}}}

	<main>
		<div class="container mt-3">
			<div class="row">
				<div class="col">

					{{{body}}}

				</div>
			</div>
		</div>
	</main>

	<footer class="bg-dark mt-5 p-2">
		<div class="container">
			<div class="text-center text-muted">
				conduit - realworld example app - cucf guidance webapp
			</div>
		</div>
	</footer>

</body>

</html>