<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link href="/assets/css/customizedBootstrap.css" rel="stylesheet" type="text/css">
	<link href="/assets/vendor/fontawesome-free/5.9.0/all.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
	<title>{{title}}</title>
</head>

<body class="bg-dark text-light">

	{{> navbar.partial }}

	{{{body}}}

</body>

</html>