<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link href="/assets/css/customizedBootstrap.css" rel="stylesheet" type="text/css">
	<link href="/assets/vendor/fontawesome-free/5.9.0/css/all.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/main.css" rel="stylesheet" type="text/css" />

	<script src="/assets/vendor/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/vendor/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

	<title>{{title}}</title>
</head>

<body>
	
	{{> navbar.partial }}

	{{{body}}}

	<footer>
		<div class="container">
			<div class="text-center text-muted">
				conduit - realworld example app - cucf guidance webapp
			</div>
		</div>
	</footer>

</body>

</html>