<div class="container mt-5">
	<div class="row">

		<div class="col-md-10 offset-md-1 col-xs-12">
			<form action="/editor" method="POST">
				<div>
					<div class="form-group">
						<input name="title" type="text" class="form-control form-control-lg" placeholder="Article Title"
							required>
					</div>
					<div class="form-group">
						<input name="articleDescription" type="text" class="form-control"
							placeholder="What's this article about?" required>
					</div>
					<div class="form-group">
						<textarea name="body" class="form-control" rows="8"
							placeholder="Write your article (in markdown)" required></textarea>
					</div>
					<div class="form-group">
						<input name="tags" type="text" class="form-control" placeholder="Enter tags">
						<div class="tag-list"></div>
					</div>
					<button class="btn btn-lg pull-xs-right btn-primary">
						Publish Article
					</button>
				</div>
			</form>
		</div>

	</div>
</div>