<div class="text-center">
	<div class="alert alert-{{type}} d-inline-block">
		<div class="d-inline-block align-top">
			{{{message}}}
		</div>
		<div class="d-inline-block align-top">
			<a href="#" class="ml-3 messageBoxCloseLink"><i class="fa fa-times"></i></a>
		</div>
	</div>
</div>