<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
  <div style="position: absolute; top: 0; right: 0;">
	  {{{body}}} 
  </div>
</div>

<script>
	{{!-- $(".toast").toast({delay:3000}); --}}
	$(".toast").toast("show");
</script>