<div class="container">
	<div class="row my-4">
		<div class="col-sm">
			<h1 class="text-center display-4 text-primary border-bottom border-primary">Welcome to the User Manager</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm text-center">
			<p>This is a simple app for managing users.</p>
			<a href="/users-management.html" class="btn btn-outline-primary mr-1"><i class="fa fa-user-o" aria-hidden="true"></i> Manage Users</a>
		</div>
	</div>
</div>