<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="/">conduit</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="navbarNav" class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item {{addNameByCompare "active" "Home" navbarLinkTitle}}">
					<a class="nav-link" href="/"><i class="fa fa-home"></i>Home</a>
				</li>
				<li class="nav-item  {{addNameByCompare "active" "New Article" navbarLinkTitle}}">
					<a class="nav-link" href="/editor"><i class="fas fa-align-left"></i>New Article</a>
				</li>
			</ul>
		</div>
		<ul class="navbar-nav justify-content-end">

			{{#if isAuthenticated}}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user"></i>{{userFullName}}
				</a>

				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					{{#if (hasRole "administrator")}}
					<a class="dropdown-item" href="/logs">Logs</a>
					<div class="dropdown-divider"></div>
					{{/if}}
					<a class="nav-link" href="#todo"><i class="fa fa-cog"></i>Settings</a>
					<a class="dropdown-item" href="/logout">Logout</a>
				</div>
			</li>
			{{else}}
			<li class="nav-item">
				<a class="nav-link" href="/login"><i class="fa fa-user"></i>Login</a>
			</li>
			{{/if}}

		</ul>
	</div>
</nav>