<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="/">conduit</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item {{is navbarLinkTitle "New Article" "active"}}">
				<a class="nav-link" href="/article/new"><i class="fas fa-align-left mr-2"></i>New Article</a>
			</li>
		</ul>
		<ul class="navbar-nav justify-content-end">

			{{#if isAuthenticated}}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
					<i class="fa fa-user mr-2"></i>{{loggedInUser.fullName}}
				</a>

				<div class="dropdown-menu">
					{{#if (hasRole "administrator")}}
					<a class="dropdown-item" href="/users">Users</a>
					<a class="dropdown-item" href="/logs">Logs</a>
					<div class="dropdown-divider"></div>
					{{/if}}
					<a class="dropdown-item" href="/logout"><i class="fas fa-door-open mr-2"></i>Logout</a>
				</div>
			</li>
			{{else}}
			<li class="nav-item">
				<a class="nav-link" href="/login"><i class="fa fa-user mr-2"></i>Login</a>
			</li>
			{{/if}}

		</ul>
	</div>
</nav>